<!DOCTYPE html>
<html lang="en" ng-app="smokerApp">
    <head>
        <meta charset="UTF-8">
        <title>Sample Web Application</title>
        <!--Styles-->
        <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
        <link href="/bower_components/bootstrap/dist/css/bootstrap.css.map" rel="stylesheet">
        <link href="/bower_components/nvd3/build/nv.d3.css" rel="stylesheet">
        <link href="/css/index.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="masthead">
                <h3 class="text-muted">Sample Application</h3>
            </div>
            <div class="jumbotron">
                <h1>Smoker Trends Analysis</h1>
                <p class="lead">A web application with smoker trend data visualizations using a RESTful web service.</p>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div ng-controller="BarGraphCtrl" class="col-lg-12 graph">
                        <h3>Prevalence of {{selected_gender+" "}}Smokers from {{least_yr}} to {{greatest_yr}}</h3>
                        <select ng-init="selected_gender = genders[0]" ng-model="selected_gender" ng-options="gender as (gender) for gender in genders" ng-change="optionsChange()">
                        </select>
                        <select ng-model="selected_definition" ng-options="def as (def) for def in definitions" ng-change="optionsChange()">
                            <option value="">Select Definition</option>
                        </select>
                        <nvd3 options="options" data="data"></nvd3>
                    </div>
                </div>
                <div class="row-fluid">
                    <div ng-controller="PieChartCtrl" class="col-lg-12 graph">
                        <h3>Percentages of Female and Male Smokers by Year</h3>
                        <select ng-model="selected_item" ng-options="year as (year) for year in years" ng-change="selectedItemChanged()">
                            <option value="">Select Year</option>
                        </select>
                        <nvd3 options="options" data="data"></nvd3>
                    </div>
                </div>
            </div>
        </div>
        <!--Scripts-->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/less/dist/less.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/d3/d3.js"></script>
        <script src="/bower_components/nvd3/build/nv.d3.js"></script>
        <script src="/bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/js/SmokerAppModule.js"></script>
    </body>
</html>